# Ranges

In [2]:
collect(1:5)

5-element Vector{Int64}:
 1
 2
 3
 4
 5

In [3]:
collect(1.5:5.5)

5-element Vector{Float64}:
 1.5
 2.5
 3.5
 4.5
 5.5

In [4]:
collect(1.5:.5:5.5)

9-element Vector{Float64}:
 1.5
 2.0
 2.5
 3.0
 3.5
 4.0
 4.5
 5.0
 5.5

In [6]:
collect(0:20:100)

6-element Vector{Int64}:
   0
  20
  40
  60
  80
 100

In [8]:
collect(100:-20:0) #reversing the array

6-element Vector{Int64}:
 100
  80
  60
  40
  20
   0

In [11]:
c1 = collect(100:-20:0)

6-element Vector{Int64}:
 100
  80
  60
  40
  20
   0

In [12]:
c1

6-element Vector{Int64}:
 100
  80
  60
  40
  20
   0

In [13]:
c1[3]

60

In [14]:
c1[5]

20

In [16]:
c1[end] #last element

0

In [17]:
c1[end-1]

20

In [18]:
c1[2:5] #access range

4-element Vector{Int64}:
 80
 60
 40
 20

In [19]:
c1[[2,3,4,5]] # access specific elements

4-element Vector{Int64}:
 80
 60
 40
 20

In [20]:
c1[2:end]

5-element Vector{Int64}:
 80
 60
 40
 20
  0

# Tuples

In [21]:
a1 = [1,2,3,4,5]
t1 = (1,2,3,4,5)

(1, 2, 3, 4, 5)

In [22]:
a1

5-element Vector{Int64}:
 1
 2
 3
 4
 5

In [23]:
a1[1]=6

6

In [24]:
a1

5-element Vector{Int64}:
 6
 2
 3
 4
 5

In [26]:
t1[1]=6 #as tuples are immutable, you can't reassign a new value to a tuple

LoadError: MethodError: no method matching setindex!(::NTuple{5, Int64}, ::Int64, ::Int64)

In [27]:
t1[1:3]

(1, 2, 3)

In [28]:
t1[3:end]

(3, 4, 5)

In [30]:
t2 = ((1,3),(2,5)) #2d tuple

((1, 3), (2, 5))

In [31]:
t2[1]

(1, 3)

In [32]:
t2[1][2]

3

In [35]:
marks = (Science = (90,100), Maths = (95,100), English = (95,100))

(Science = (90, 100), Maths = (95, 100), English = (95, 100))

In [36]:
marks.Science

(90, 100)

In [37]:
marks.Maths

(95, 100)

In [38]:
marks2 = (History = (80,100), Sports = (95,100))

(History = (80, 100), Sports = (95, 100))

In [39]:
merge(marks,marks2)

(Science = (90, 100), Maths = (95, 100), English = (95, 100), History = (80, 100), Sports = (95, 100))

# Dictionary

In [40]:
Cars = Dict("Car1" => 100000, "Car2" => 200000, "Car3" => 300000)

Dict{String, Int64} with 3 entries:
  "Car3" => 300000
  "Car2" => 200000
  "Car1" => 100000

In [43]:
Cars["Car1"] # much faster in big program using dict.

100000

In [48]:
Cars2 = Dict(:Car1 => 100000,:Car2 => 200000,:Car3 => 300000)

Dict{Symbol, Int64} with 3 entries:
  :Car3 => 300000
  :Car1 => 100000
  :Car2 => 200000

In [49]:
Cars2[:Car1]

100000

In [51]:
haskey(Cars2, :Car1)

true

In [55]:
haskey(Cars2, :Car4)

false

In [53]:
delete!(Cars2,:Car1)

Dict{Symbol, Int64} with 2 entries:
  :Car3 => 300000
  :Car2 => 200000

In [56]:
haskey(Cars2, :Car1)

false

In [57]:
keys(Cars)

KeySet for a Dict{String, Int64} with 3 entries. Keys:
  "Car3"
  "Car2"
  "Car1"

In [58]:
values(Cars)

ValueIterator for a Dict{String, Int64} with 3 entries. Values:
  300000
  200000
  100000

In [59]:
dict3 = merge(Cars, Cars2)

Dict{Any, Int64} with 5 entries:
  :Car3  => 300000
  "Car3" => 300000
  "Car2" => 200000
  "Car1" => 100000
  :Car2  => 200000

# Sets

In [63]:
sports_brands = Set(["Adidas","Nike","Puma","Reebok"])

Set{String} with 4 elements:
  "Nike"
  "Puma"
  "Reebok"
  "Adidas"

In [64]:
in("HRX",sports_brands)

false

In [65]:
in("Nike",sports_brands)

true

In [66]:
sports_brands_India = Set(["Adidas","Nike","HRX"])

Set{String} with 3 elements:
  "Nike"
  "HRX"
  "Adidas"

In [67]:
union(sports_brands,sports_brands_India)

Set{String} with 5 elements:
  "Nike"
  "Puma"
  "Reebok"
  "HRX"
  "Adidas"

In [68]:
intersect(sports_brands,sports_brands_India)

Set{String} with 2 elements:
  "Nike"
  "Adidas"

In [69]:
setdiff(sports_brands,sports_brands_India)

Set{String} with 2 elements:
  "Puma"
  "Reebok"

In [70]:
setdiff(sports_brands_India,sports_brands)

Set{String} with 1 element:
  "HRX"

In [71]:
push!(sports_brands,"HRX")

Set{String} with 5 elements:
  "Nike"
  "Puma"
  "Reebok"
  "HRX"
  "Adidas"

# Date & Time Manipulation

In [85]:
#Dates.Time
#Dates.Date
#Dates.Datetime

In [73]:
using Dates

In [74]:
now()

2023-03-05T11:29:15.745

In [75]:
today()

2023-03-05

In [76]:
birthdate = Date(2001,8,25) #YYYY,MM,DD

2001-08-25

In [77]:
DateTime(2001,8,25,10,15,25)

2001-08-25T10:15:25

In [78]:
now(UTC)

2023-03-05T06:01:23.429

In [79]:
birthdate = DateTime(2001,8,25,10,15,25)

2001-08-25T10:15:25

In [80]:
year(birthdate)

2001

In [81]:
month(birthdate)

8

In [82]:
day(birthdate)

25

In [83]:
year(now())

2023

In [84]:
hour(now())

11

In [86]:
dayofweek(birthdate)

6

In [87]:
dayname(birthdate)

"Saturday"

In [88]:
dayofquarter(birthdate)

56

In [89]:
daysinmonth(birthdate)

31

In [90]:
birthdate = Date(2001,8,25) #YYYY,MM,DD

2001-08-25

In [91]:
today() - birthdate

7862 days

In [93]:
today() + Month(5)

2023-08-05

In [94]:
date_format = DateFormat("dd-mm-yyyy")

dateformat"dd-mm-yyyy"

In [95]:
Dates.format(birthdate,date_format)

"25-08-2001"

# Conditional Statements

In [96]:
a = 10

10

In [97]:
a > 10 ? "Yes" : "No"

"No"

In [98]:
a < 10 ? "Yes" : "No"

"No"

In [101]:
a <= 10 ? "Yes" : "No"

"Yes"

In [105]:
a >= 10 ? "Yes" : "No"

"Yes"

In [103]:
b = 20

20

In [107]:
a >= 10 || b < 20 #OR Condition - If both false then only it will display false

true

In [106]:
a > 10 || b < 20

false

In [108]:
a >= 10 && b < 20 #AND Operator - Both True Only

false

In [109]:
a >=10 && b <=20

true

In [112]:
if a > 10
    print("a is greater than 10")
elseif a < 10
        print("a is less than 10")
    else
        print("a is equal to 10")
end

a is equal to 10

In [114]:
country = "India"

"India"

In [117]:
if country == "India"
    print("You mentioned India")
else 
    print("You are in a country or than India")
end

You mentioned India

In [118]:
country = "US"

"US"

In [119]:
if country == "India"
    print("You mentioned India")
else 
    print("You are in a country or than India")
end

You are in a country or than India

# Loops

In [1]:
for i in ["Adidas","Nike","Puma"]
    print(i)
end

AdidasNikePuma

In [2]:
for i in ["Adidas","Nike","Puma"]
    print(i," ")
end

Adidas Nike Puma

In [4]:
for i in ["Adidas","Nike","Puma"]
    println(i)
end

Adidas
Nike
Puma

In [5]:
for i in "Adidas"
    println(i)
end

A
d
i
d
a
s

In [7]:
for t in (1,2,3,4,5)#tuple
    println(t)
end

1
2
3
4
5

In [9]:
for d in Dict(:C1 => 1000, :C2 => 2000)
    print(d," ")
end

:C2 => 2000 :C1 => 1000

In [15]:
d1 = Dict(:C1 => 1000, :C2 => 2000)

Dict{Symbol, Int64} with 2 entries:
  :C2 => 2000
  :C1 => 1000

In [16]:
for d in d1
    print(d," ")
end

:C2 => 2000 :C1 => 1000

In [17]:
for s in Set([1,2,3,4,5])
    print(s)
end

54231

In [18]:
for range in 1:5
    print(range," ")
end

1 2 3 4 5

In [19]:
for range in 1:5
    @show range
end

range = 1
range = 2
range = 3
range = 4
range = 5

In [20]:
for x in 1:10
    if x % 2 == 0
        print(x)
    end
end

246810

In [23]:
for x in 1:10
    if x % 2 != 0
        print(x)
    end
end

13579

In [21]:
for i in 1:10
    j = i * 10
    println("$(j) is multiplication btw $(i) and 10")
end

10 is multiplication btw 1 and 10
20 is multiplication btw 2 and 10
30 is multiplication btw 3 and 10
40 is multiplication btw 4 and 10
50 is multiplication btw 5 and 10
60 is multiplication btw 6 and 10
70 is multiplication btw 7 and 10
80 is multiplication btw 8 and 10
90 is multiplication btw 9 and 10
100 is multiplication btw 10 and 10

In [25]:
for x in 1:10
    if x % 2 == 0
        continue
    end
    println(x)
end

1
3
5
7
9

In [26]:
for x in 1:10
    if x % 2 != 0
        continue
    end
    println(x)
end

2
4
6
8
10

In [27]:
a = 1

1

In [28]:
while a < 10
    println(a)
    a +=1 # a = a + 1
end

1
2
3
4
5
6
7
8
9

# Comprehensions ( Smart Loops)

In [34]:
x = [i for i in 1:10]

10-element Vector{Int64}:
  1
  2
  3
  4
  5
  6
  7
  8
  9
 10

In [35]:
x = [i*2 for i in 1:10]

10-element Vector{Int64}:
  2
  4
  6
  8
 10
 12
 14
 16
 18
 20

In [36]:
x = [i^2 for i in 1:10]

10-element Vector{Int64}:
   1
   4
   9
  16
  25
  36
  49
  64
  81
 100

In [37]:
s = Set([i for i in 1:10])

Set{Int64} with 10 elements:
  5
  4
  6
  7
  2
  10
  9
  8
  3
  1

In [67]:
alphabet = Dict(string(Char(x1 + 64)) => x1 for x1 in 1:26) #string(Char(x + 64) is i in this case

Dict{String, Int64} with 26 entries:
  "Z" => 26
  "Q" => 17
  "W" => 23
  "T" => 20
  "C" => 3
  "P" => 16
  "V" => 22
  "L" => 12
  "O" => 15
  "B" => 2
  "M" => 13
  "N" => 14
  "H" => 8
  "A" => 1
  "X" => 24
  "D" => 4
  "G" => 7
  "E" => 5
  "Y" => 25
  "I" => 9
  "J" => 10
  "S" => 19
  "U" => 21
  "K" => 11
  "R" => 18
  "F" => 6

In [47]:
[(x,y) for x in 1:3, y in 1:2]

3×2 Matrix{Tuple{Int64, Int64}}:
 (1, 1)  (1, 2)
 (2, 1)  (2, 2)
 (3, 1)  (3, 2)

In [48]:
[x for x in 1:10 if x%2 ==0]

5-element Vector{Int64}:
  2
  4
  6
  8
 10

# Working with Strings

In [51]:
s1 = "I love Julia"

"I love Julia"

In [52]:
length(s1)

12

In [59]:
lastindex(s1) # less computation than length, more efficient

12

In [60]:
firstindex(s1)

1

In [61]:
s1[4]

'o': ASCII/Unicode U+006F (category Ll: Letter, lowercase)

In [62]:
s1[10]

'l': ASCII/Unicode U+006C (category Ll: Letter, lowercase)

In [64]:
s1[3:6]

"love"

In [65]:
s1[8:12]

"Julia"

In [66]:
isascii(s1)

true

In [70]:
"Love" * "Julia"

"LoveJulia"

In [71]:
"Love" * " Julia"

"Love Julia"

In [74]:
"Love" ^ 5

"LoveLoveLoveLoveLove"

In [75]:
" Love" ^ 5

" Love Love Love Love Love"

In [77]:
string("Love","Julia")

"LoveJulia"

In [78]:
split(s1)

3-element Vector{SubString{String}}:
 "I"
 "love"
 "Julia"

In [79]:
split(s1,"e")

2-element Vector{SubString{String}}:
 "I lov"
 " Julia"

In [80]:
split(s1,"love")

2-element Vector{SubString{String}}:
 "I "
 " Julia"

In [81]:
split(s1,"")

12-element Vector{SubString{String}}:
 "I"
 " "
 "l"
 "o"
 "v"
 "e"
 " "
 "J"
 "u"
 "l"
 "i"
 "a"

In [82]:
parse(Int64,"100") #string - dataframr or object

100

In [87]:
parse(Float64,"100.5")

100.5

In [88]:
in('I',s1)

true

In [89]:
occursin("love",s1)

true

In [90]:
findfirst("l",s1)

3:3

In [91]:
findfirst("love",s1)

3:6

In [93]:
replace(s1,"love" => "adore")

"I adore Julia"

In [94]:
s1

"I love Julia"

In [95]:
s1 = replace(s1,"love" => "adore")

"I adore Julia"

In [96]:
s1

"I adore Julia"

# Functions

In [97]:
f(x) = x + x

f (generic function with 1 method)

In [98]:
f(2)

4

In [99]:
f(x) = x*x

f (generic function with 1 method)

In [100]:
f(127)

16129

In [101]:
f(x,y) = x*2 - y

f (generic function with 2 methods)

In [102]:
f(2,3)

1

In [108]:
function multiply(x,y)
    return x * y
end

multiply (generic function with 1 method)

In [109]:
multiply(25,5)

125

In [110]:
function convert_meter_to_inch(val)
    return val * 39.37
end

convert_meter_to_inch (generic function with 1 method)

In [111]:
convert_meter_to_inch(1.5)

59.05499999999999

In [112]:
function BMI(w,h)
    return w/abs2(h)  #abs2(x) -- square of x
end

BMI (generic function with 1 method)

In [113]:
BMI(68,1.65)

24.977043158861342

In [136]:
function convert_meter_to_inch(val, name = "Patron")
    if name == "Patron"
        println("Value for name is not supplied")
    else
        println("Hi..",name," The conversion value is ")
    end
        return val * 39.37
end

convert_meter_to_inch (generic function with 2 methods)

In [137]:
convert_meter_to_inch(2.3,"Akash")

Hi..Akash The conversion value is

90.55099999999999

In [138]:
function convert_meter_to_inch(val, name = "")
    if name == ""
        println("Value for name is not supplied")
    else
        println("Hi..",name," The conversion value is ")
    end
        return val * 39.37
end

convert_meter_to_inch (generic function with 2 methods)

In [139]:
convert_meter_to_inch(2.3)

Value for name is not supplied

90.55099999999999

# Formatting Numbers and Strings

In [140]:
using Printf

In [141]:
name = "Akash"

"Akash"

In [143]:
name = "Akash";

In [144]:
@printf("Hello %s",name)

Hello Akash

In [145]:
@sprintf("Hello %s",name)

"Hello Akash"

In [149]:
ch = 'i'
@printf("%c",ch)

i

In [150]:
x = 100
@printf("Value of x is %d",x)

Value of x is 100

In [151]:
y = 100.50

100.5

In [153]:
@printf("Value of y is %f",y)

Value of y is 100.500000

In [154]:
@printf("Value of y is %.2f",y)

Value of y is 100.50

In [158]:
z = 24683417865
@printf("%e",z)

2.468342e+10

In [159]:
z = 24683417865
@printf("%.3e",z)

2.468e+10